html {
    font-family: calibri, arial;
    }
    
img {
    border-radius: 8px;
    left:840px;
    top:42px;
    position:;
    

    }     

      

h2{
    text-align: left;
    color: purple;
    text-decoration: ;
    text-decoration:underline;
    font-family: ;
}

body{
    background-color: lightgreen;
}
table
{
margin: auto;
}
td
{
text-align :center;
}