body {
    font-family: calibri, arial;
    background-color: #999999;
}

h1 {
    color: darkblue;
    font-size: 42px;
    text-align: center;
}
h2 {
    color: darkmagenta;
    font-style: italic;
    text-decoration: underline;
}
img {
    margin-left: 85%;
}
table, tr, th, td {
    padding: 20px;
    border: 1px solid black;
    border-collapse: collapse;
    }