
body {
    border-top: 12px solid #2de61d;
    background-color: white;
     }

    h1 {
    text-align: center;

    margin: 0,8em auto;
    /* équivalent
        margin-top: 1em;
        margin-bottom: 1em;
        margin-right: auto;
        margin-left: auto;
    */
  }

   .form-group {
    font-family: Helvetica, sans-serif;
    text-align: center;
    margin-top: 1em;
    padding: 1em;   
    background-color: #cbf1d0;
    box-shadow: 0 0 10px rgba(0,0,0,.3); 
  }


   .button {
    margin-right: 1em;
    margin-left: 1em;
    text-align: center;
  }

  
