<html>
<head>
    <title>DUSIN</title>
    <link href="{{ url_for('static', path='/static/styles.css') }}" rel="stylesheet"></head>
<body>
    <h1>Item ID: {{ id }}</h1>
    <div class="form-group">
        <label for="nom">Votre nom</label><br>
        <input type="text" class="form-control" id="nom" name="nom" aria-describedby="nom_aide">
        <small class= "help" id="nom_aide">Entrez votre nom de famille</small>
        <small class="error">Ce champ est requis</small>
        </div>

      <div class="form-group">
        <label for="prenom">Votre prénom</label><br>
        <input type="text" class="form-control" id="prenom" name="prenom" aria-describedby="prenom_aide">
        <small class= "help" id="prenom_aide">Entrez votre prénom</small>
        <small class="error">Ce champ est requis</small>
      </div>
</body>
</html>